<% content_for :head do %>
  <%= stylesheet_link_tag "examples/carousel" %>
<% end %>

<div id="myCarousel" class="carousel slide">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
  
    <div class="item active">
      <img src="http://whittlingfogphotography.smugmug.com/Events/Kenduskeag-Stream-Sprints/i-Kw8dHF2/0/X3/IMG_7787-X3.jpg" alt="First slide">
      <div class="container">
        <div class="carousel-caption">
          <h1>Support or Join today!</h1>
          <p style="color:DarkOrange; background-color:black;">Members of the Brandeis Community can choose to either support or join the Canoe Club. If you choose to support the club your information will be used solely for the purposes of chartering
          	 (we never contact you about paddling events). However, if you would like to participate choose join and you will be subscribed
          	to the club's listserve. 
           </p>
          <p><%= link_to('Support', new_support_path, :class => 'btn btn-large btn-primary')  %> <%= link_to('Join', new_member_path, :class => 'btn btn-large btn-primary')  %></p>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="http://whittlingfogphotography.smugmug.com/Sports/2014-Kenduskeag-Stream-Sprints/i-cJmCXcB/0/X2/IMG_8121-X2.jpg" data-src="holder.js/100%x500/auto/#777:#7a7a7a/text:Second slide" alt="Second slide">
      <div class="container">
        <div class="carousel-caption">
          <h1>About</h1>
          <p style="color:DarkOrange; background-color:Black;">The Brandeis Canoe club was created to provide Brandeis students the opportunity to compete in downriver, slalom, and freestyle competitions at both the local and national level. 
         	Additionally, the Brandeis Canoe Club allows students to work on their whitewater skills and techniques in a controlled enviroment with other skilled paddlers and to experience the beautiful
         	and pristine whitewater of New England.</p>
          <p><a class="btn btn-large btn-primary" href="#">Learn more</a></p>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="http://www.npmb.com/3/wp-content/uploads/wppa/46.jpg?ver=1">
      <div class="container">
        <div class="carousel-caption">
          <h1>Constitution</h1>
          <p>Here you can view our club's official constitution</p>
          <p><a class="btn btn-large btn-primary" href="http://www.isaac26.com/constitution.pdf">Constitution</a></p>
        </div>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div>