<% content_for :head do %>
  <%= stylesheet_link_tag "examples/carousel" %>
<% end %>
<div id="myCarousel" class="carousel slide">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active">
      <img src="http://whittlingfogphotography.smugmug.com/Events/Kenduskeag-Stream-Sprints/i-Kw8dHF2/0/X3/IMG_7787-X3.jpg" alt="First slide">
      <div class="container">
        <div class="carousel-caption">
          <h1>Support or Join today!</h1>
          <p>Members of the Brandeis Community can choose to either support or join the Canoe Club. If you choose to support your information is used solely for the purpose of chartering
          	 (we never contact you about paddling events). However, if you would like to participate choose to join and you will to be subscribed
          	to the club listserve. 
           </p>
          <p><%= button_to('Support', new_support_path, :class => 'btn btn-large btn-primary')  %></p>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="data:image/png;base64," data-src="holder.js/100%x500/auto/#777:#7a7a7a/text:Second slide" alt="Second slide">
      <div class="container">
        <div class="carousel-caption">
          <h1>Another example headline.</h1>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          <p><a class="btn btn-large btn-primary" href="#">Learn more</a></p>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="data:image/png;base64," data-src="holder.js/100%x500/auto/#777:#7a7a7a/text:Third slide" alt="Third slide">
      <div class="container">
        <div class="carousel-caption">
          <h1>One more for good measure.</h1>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          <p><a class="btn btn-large btn-primary" href="#">Browse gallery</a></p>
        </div>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div>