<p>
Thank you for your interest in the Brandeis Canoe Club. We look forward to seeing you on the water! You can join our 
official mailing list at https://lists.brandeis.edu/wws/subscribe/canoe (you will need to login with your Brandeis account). 
</p>

<p>
If you have not done so already you can join us on facebook for up to date information regarding paddling events.

</p>
<a href="http://facebook.com/groups/743459819055361/">  <img src="https://www.facebook.com/images/fb_icon_325x325.png"></a>
